# Build output
[Bb]in/
[Oo]bj/
[Oo]ut/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/

# MAUI / .NET
*.binlog
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
*.nupkg
*.snupkg
.nuget/

# OS
.DS_Store
Thumbs.db
